.badge-notify {
  background: purple;
  position: relative;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-size: 0.9em;
  min-height: 23px;
  min-width: 23px;
  left: -65px;
  top: -11px;
}

a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: orange;
  }
}

.logo {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
